:root{
  --backgroundcolor: #222831;
  --other: #31363F;
  --textcolor: #76ABAE;
}

.container{
  border-right: white 1px solid;
  height: 100%;
  width: fit-content;
}
a,i{
  color: #76ABAE;
  font-size: x-large;
} 
/*==================================================
  Newsfeed Left Sidebar
  ==================================================*/

/*Profile Card CSS*/

.profile-card{
  /* background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)); */
  background-size: cover;
  width: 100%;
  min-height: 90px;
  min-width: 90px;
  border-radius: 4px;
  padding: 30px 30px;
  margin-bottom: 40px;
  padding-top:40px;
}

.profile-card img.profile-photo{
  float: left;
  margin-right: 100%;
  position: relative;
  top: -30px;
  height: 100px;
  width: 100px;
  border-radius: 20%;
}

@media screen and (max-width: 1260px) {
    .profile-card{
    padding: 5px 5px;
    margin: 10px;
    margin-left:0px;
    
    }
  .profile-card img.profile-photo{
    height: 80px;
    width: 80px;
    top:0px;
  }
}
    


/*Newsfeed Links CSS*/

ul.nav-news-feed{
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 40px 0;

  /* background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)); */
  padding-top:20px;
}

ul.nav-news-feed li{
  list-style: none;
  align-items: center;
  padding: 15px 0;
}

ul.nav-news-feed li .link-text{
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 20px;
}


ul.nav-news-feed li div{
  position: relative;
  margin-left: 30px;
  }

ul.nav-news-feed li div::after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -15px;
  left: 0;
}


ul.nav-news-feed li i{
  font-size: x-large;
  margin-top: 6px;
  float: left;


}


ul.nav-news-feed li a:hover {
  color: #8dc63f; /* Default color on hover */
}



ul.nav-news-feed i.icon1{color: #8dc63f;}

ul.nav-news-feed i.icon2{color: #662d91;}

ul.nav-news-feed i.icon3{color: #ee2a7b;}

ul.nav-news-fee i.icon4{color: #f7941e;}

ul.nav-news-fee i.con5{color: #1c75bc;}

ul.nav-news-feed i.icon6{color: #9e1f63;}

/*Chat Block CSS*/

/* #chat-block{
  margin: 0 0 40px 0;
  text-align: center;
  background:#fff;
  padding-top:20px;
}

#chat-block .title{
  background: #8dc63f;
  padding: 2px 20px;
  width: 70%;
  height: 30px;
  position: relative;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
} */
/* 
ul.online-users{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

ul.online-users li{
  list-style: none;
  position: relative;
  margin: 3px auto !important;
  padding-left: 2px;
  padding-right: 2px;
}

ul.online-users li span.online-dot{
  background: linear-gradient(to bottom, rgba(141,198,63, 1), rgba(0,148,68, 1));
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  margin: auto;
} */


ul.online-users {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.profile-card-text {
    color: #76ABAE;
}



::ng-deep a {
    text-decoration: none
}

@media only screen and (max-width: 1026px) {
    .link-text{
        display: none;
    }
}