body{
    margin-top:20px;
    background:#eee;
}


.form-control {
    resize: none;
    /*flex text-area in the column direction*/
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.flex-textarea {
    height: auto;
    resize: none; /* Disable resizing */
    overflow: hidden; /* Hide overflow content */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  


/* Set size of whoever tweeted profile*/
.g-height-50 {
    height: 50px;
}
/* Set size of whoever tweeted profile*/
.g-width-50 {
    width: 50px !important;
}

/* Set background for tweet-message div*/
.g-bg-secondary {
    background-color: #fafafa !important;
    border-radius: 7px;
}

/*Set color for the secondary text such as Date and Like*/
.g-color-gray-dark-v4 {
    color: #777 !important;
}

.tweet-message{
    hyphens: auto;
    word-break: break-all;
    max-width: 75ch;
    padding: 20px;
}

.message-body-date{
    padding-left : 20px;
}

.comment-feed-wrapper {
    position: relative;
    min-height: 100vh; /* Set the minimum height to fill the viewport */
  }
  
  #updateStatusSection {
    position: sticky;
    background-color:rgb(38, 139, 162);
    top: 0;
    z-index: 999;
  }
  
  .add-padding {
    padding-bottom: 50px; /* Adjust the padding value as desired */
  }
  