:root{
    --backgroundcolor: #222831;
    --other: #31363F;
    --textcolor: #76ABAE;
}

body{
    margin-top:20px;
}
h5,p{
    color: #76ABAE;
    text-decoration: none;
}

.tweet{
    border-bottom: white 1px solid;
    border-top: white 1px solid;
    padding: 10px;
}

.tweet-item {
    color: #76ABAE;
  }
.tweet-item button{
    color: #76ABAE;
    background-color: #31363F;
    border: none;
    width: 15%;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}   
  


.form-control {
    resize: none;
    /*flex text-area in the column direction*/
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.flex-textarea {
    height: auto;
    resize: none; /* Disable resizing */
    overflow: hidden; /* Hide overflow content */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  


/* Set size of whoever tweeted profile*/
.g-height-50 {
    height: 50px;
}
/* Set size of whoever tweeted profile*/
.g-width-50 {
    width: 50px !important;
}

/* Set background for tweet-message div*/
.g-bg-secondary {
    border-radius: 7px;
}

/*Set color for the secondary text such as Date and Like*/
.g-color-gray-dark-v4 {
    color: #777 !important;
}

.tweet-message{
    hyphens: auto;
    word-break: break-all;
    max-width: 75ch;
    padding: 20px;
}

.message-body-date{
    padding-left : 20px;
}

.comment-feed-wrapper {
    position: relative;
    min-height: 100vh; /* Set the minimum height to fill the viewport */
  }
  
  #updateStatusSection {
    position: sticky;
    /*set background color to be that of app.component.css background-colour*/
    background-color: var(--backgroundcolor);
    top: 0;
    z-index: 999;
  }
  
  .add-padding {
    padding-bottom: 50px; /* Adjust the padding value as desired */
  }
  