<div class="comment-feed-wrapper">
  <!-- Existing elements and comments -->

  <div id="updateStatusSection" [hidden]="!showUpdateStatusSection">

  <form>
    <div class='active'><a>Update status</a></div>
    <textarea id="status" class="form-control" placeholder="What's on your mind?"></textarea>
    <div class='pull-right'><a (click)="updateStatus()" class='btn btn-primary btn-xs'>Post</a></div>
  </form>

</div>

<br>  
<br>
<br>
<br>
<br>

<!--                                                      COMMENTS                                                    -->



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="!tweets">
        Loading tweets...
      </div>
      <div *ngIf="tweets && singularImageUrl.length !== tweets.length">
        Loading images...
      </div>
      <div *ngIf="tweets && singularImageUrl.length === tweets.length">
        <!-- Render tweets and images here -->
        <div *ngFor="let tweet of tweets; let i = index;">
          <div *ngIf="!tweet.commentBoolean">
            <img class="d-flex g-width-50 g-height-50 rounded-circle" [src]="singularImageUrl[i]"
              alt="Image Description">
            <div class="media-body u-shadow-v18 g-bg-secondary">
              <div>
                <h5>{{tweet.user.username}}</h5>
              </div>
              <p class="tweet-message" [routerLink]="[tweet.user.username,'status',tweet.id]">{{tweet.message}}</p>
              <ul>

                <li>
                  <a (click)="like(tweet)" style="cursor: pointer;">
                    <i class="fa fa-thumbs-up"></i>
                    {{tweet.likes.length}}
                  </a>
                    <i class="fa fa-comment"></i>
                    {{tweet.comments.length}}

                  <span class="message-body-date">Date</span>
                </li>

                <i></i>
              </ul>
            </div>
            <button type="button" (click)="commentModal(tweet)" class="btn btn-primary pull-right">Reply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>