<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <img class="d-flex g-width-50 g-height-50 rounded-circle"
                    [src]="tweet.user.profilePicture.image" alt="Tweeter image">
                <div class="media-body u-shadow-v18 g-bg-secondary">
                    <div>
                        <h5>{{tweet.user.username}}</h5>
                        <span>Date</span>
                    </div>
                    <p class="tweet-message">{{tweet.message}}</p>
                    <ul>
                        <a (click)="like(tweet)" style="cursor: pointer;">
                            <li>
                                <i class="fa fa-thumbs-up"></i>
                                {{tweet.likes.length}}
                            </li>
                        </a>
                    </ul>
                    <button type="button"
                        class="btn btn-primary pull-right" (click)="commentModal(tweet)">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8"
                *ngIf="this.tweets.length === this.tweet.comments.length">
            <div *ngFor="let comment of tweet.comments; let i = index;">
                <img class="d-flex g-width-50 g-height-50 rounded-circle"
                    [src]="tweets[i].user.profilePicture.image" alt="Commentator image">
                <div class="media-body u-shadow-v18 g-bg-secondary">
                    <div>
                        <h5>{{comment.user.username}}</h5>
                        <span>Date</span>
                    </div>
                    <p class="tweet-message" (click)="reRoute(comment.user.username,comment.id)">{{comment.message}}</p>
                    <ul>
                        <a (click)="like(comment)" style="cursor: pointer;">
                            <li>
                                <i class="fa fa-thumbs-up"></i>
                                {{comment.likes.length}}
                            </li>
                        </a>
                    </ul>
                    <button type="button"
                        class="btn btn-primary pull-right" (click)="commentModal(comment)">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>